<html>
	<body>
		Demo
		<div>
			{% if user.is_authenticated %}
			Welcome back, {{ user.username }}
			    {% for auser in users %}
			    <li>user:{{ auser }} date_joined:{{ auser.date_joined }} last_login:{{ auser.last_login}}</li>
			    {% endfor %}
			{% else %}
			<a href="/admin/login/?next=/hello/">Use Password</a><br/>
			<a href="{% url "social:begin" "google-oauth2" %}">Connect with Google+</a><br/>
			<a href="{% url "social:begin" "facebook" %}?next={{ request.path }}">Connect with Facebook</a>
			{% endif %}
		</div>
	</body>
</html>
