<html>
	<body>
		User Database Dashboard
		<div>
			{% if user.is_authenticated %}
			Welcome back, {{ user.username }}. <a href="/admin/password_change/?next=/hello/">Change password</a><br/><br/>
			We have {{users|length}} user(s).<br/>
			    {% for auser in users %}
			    <ul>
			    <li>user:{{ auser }}<ul><li>times logged:{{auser.times}}</li> <li>date_joined:{{ auser.date_joined }}</li> <li>last_login:{{ auser.last_login}}</li></ul></li>
			    </ul>
			    {% endfor %}
			{% else %}
			<a href="/admin/login/?next=/hello/">Use Password</a><br/>
			<a href="{% url "social:begin" "google-oauth2" %}">Connect with Google+</a><br/>
			<a href="{% url "social:begin" "facebook" %}?next={{ request.path }}">Connect with Facebook</a>
			{% endif %}
		</div>
	</body>
</html>
